@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


:root {
  --font: 'Open Sans', sans-serif;
  --dark: rgb(40, 39, 42);
  --medium: rgb(161, 146, 206);
  --light: rgb(231, 215, 231);
  --error: lightcoral;
  --success: lightgreen;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: var(--light);
}